.sound-base{
    width: 600px;
    height: 330px;
    /* background-color: rgb(240, 164, 164); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.sound-video{
    width: 100%;
    height: 100%;
    background-color: rgb(114, 46, 46);
    border-radius: 20px;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.video-set{
    width: 100%;
    height: 80%;
    /* background-color: rgb(82, 255, 246); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-input-title{
    display: flex;
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: "Manrope-Bold";
}

.video-input-base{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
    
.video-input{
    height: 40px;
    width: 50%;
    font-size: large;
    border-radius: 5px;
    border: 1px solid rgb(202, 202, 202);
    background-color: white;
    margin-right: 10px;
    padding-left: 10px;
    font-family: "Manrope-Bold";
    color: black;
}

.video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-yt-logo{
    width: 200px;
    margin: 0px 10px 0px 10px;
}

.video-button{
    font-size: large;
    width: 30%;
    background-color: rgb(218, 37, 37);
    font-family: "Manrope-Bold";
}

.video-button:hover{
    font-size: large;
    cursor: pointer;
    background-color: rgb(185, 31, 31);
    outline: none;
    border: none;
}

.video-button:focus {
    outline:none;
    border: none;
}

.video-button:active {
    border: none;
    outline:none;
    background-color: rgb(199, 75, 75);
}