.maintitle-background{
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100vw;
    height: 180px;
    top: 0;
}

.maintitle-soundoro-logo{
    height: 120px;
    margin-bottom: 20px;
    color: white;
}